[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "GDExtension/godot-cpp"]
	path = GDExtension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
